.app-wrapper{
  display: grid;
  width: 1240px;
  margin: 0 auto;

  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70px 1fr;
  justify-content:center;
  background-color:  silver;
}


.header{
  grid-area: 'h';
  background-color: grey;
  grid-column-start: 1;
  grid-column-end: 4;
}

.sections{
  grid-area: 's';
  background-color: green;

}

.main{
  grid-area: 'm';
  background-color: red;
}

