.header{
  grid-area: 'h';
  background-color: grey;
  grid-column-start: 1;
  grid-column-end: 4;
}

.nav{
	display:  flex;
	justify-content: space-between;
	align-items: center;
}

img{
	width: 30px;
}

